- page_title "Labels"
= render "header_title"

.top-area
  .nav-text
    Labels can be applied to issues and merge requests.
  .nav-controls
    - if can? current_user, :admin_label, @project
      = link_to new_namespace_project_label_path(@project.namespace, @project), class: "btn btn-new" do
        = icon('plus')
        New label

.labels
  - if @labels.present?
    %ul.content-list.manage-labels-list
      = render @labels
    = paginate @labels, theme: 'gitlab'
  - else
    .nothing-here-block
      - if can? current_user, :admin_label, @project
        Create a label or #{link_to 'generate a default set of labels', generate_namespace_project_labels_path(@project.namespace, @project), method: :post}.
      - else
        No labels created
